body{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/accesrock-39772.appspot.com/o/accestock.jpg?alt=media&token=5bdd0280-38ac-4bd5-b733-164412ae0053');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}